*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 30px;
    background: #070707a4;
    color: rgba(2, 2, 2, 0.945);
}
.container{
    position: relative;
    margin-top: 12%;
    margin-left: 10%;
    border: 2px solid rgba(255, 255, 255, 0.308);
    display: grid;
    width: 700px;
    height: 400px;
    text-align: center;
    row-gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
img{
    position: absolute;
    left: 110%;
    top: -15%;
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}