*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1a2027;
    font-family: sans-serif;
    color: black;
}
.main{
    border: 3px hidden;
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    padding: 2%;
    left: 33%;
    top: 7%;
    width: 40%;
    height: 20%;
    color: white;
    box-shadow: rgba(239, 237, 237, 0.805) 0px 2px 4px, rgba(222, 219, 219, 0.899) 0px 7px 13px -3px, rgba(233, 230, 230, 0.762) 0px -3px 0px inset;
    
}
#accordion{
    
    margin: 300px auto;
    width: 600px;
}
#accordion li{
    margin-left: 8%;
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: whitesmoke;
    padding: 10px;
}
#accordion li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: dodgerblue;
    cursor: pointer;
}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: dodgerblue;
}
#accordion label + input[type="radio"]{
    display: none;
}
#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}